<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shivamarora.stepsensor">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/manwalk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="DB.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity android:name=".One">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".PersonalData" />

        <activity android:name=".OpeningScreen">
        </activity>
        <activity android:name=".History">
        </activity>
    </application>

</manifest>
